@import './base.css';

td,
th {
  padding: 0.2em;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td, table {
  border: 1px solid var(--color-background-mute);
}

th {
  font-size: 1.1rem
}

html {
  width: 100vw;
  touch-action: manipulation;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* style nav a to look like buttons with visited styles */
nav a {
  display: inline-block;
  padding: 0.5em 0;
  border: 1px solid var(--color-background-mute);;
  background-color: var(--color-background);
  color: var(--color-text);
  text-decoration: none;
  flex: 1 1 0;
  text-align: center;
}

hr {
  border: 1px solid var(--color-background-mute);
}

nav a:visited {
  color: var(--color-text);
}

.router-link-active {
  font-weight: bold;
}

.score9, .score10, .scoreX {
  background-color: #fefc2a;
  color: black;
}

.score7, .score8 {
  background-color: #fc2e2a;
  color: white;
}

.score5, .score6 {
  background-color: #2790f9;
  color: white;
}

.score3, .score4 {
  background-color: black;
  color: white;
}

.score1, .score2 {
  background-color: white;
  color: black;
}

.scoreM {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .scoreM {
    color: white;
  }
}

.worcester5 {
  color: black;
  background-color: white;
}

.worcesterRest {
  color: white;
  background-color: black;
}

.highlight {
  color: gold;
  background: #2c3e50;
  font-weight: bold;
}

.onTrack {
  color: var(--color-on-track);
}

.offTrack {
  color: var(--color-off-track);
}

.buymeacoffee {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 1.5em;
}
