@import './base.css';

td, th {
    border: 1px solid black;
    padding: 0.2em;
    text-align: center;
}
table {
    width: 100%;
}

th {
    font-weight: bold;
}

html {
    width: 100vw;
    touch-action: manipulation
}